.background{
    -fx-background-color: #D8E2EC;
}

.topbar{
    -fx-background-color: #b7c4d0;
}

.buttons{
    -fx-background-color: #b7c4d0;
}

.side{
    -fx-background-color: #91a6b3;
}

.selected{
    -fx-background-color: #a9bdca;
}

.exit{
    -fx-fill: #da3333;
}

.exit:hover{
    -fx-fill: white;
}

.minimize{
    -fx-fill: #eea039;
}
.minimize:hover {
    -fx-fill: white;
}

.maximize{
    -fx-fill: #5eb623;
}

.maximize:hover{
    -fx-fill: white;
}

.sidebutton{
    -fx-text-fill: white;
    -fx-border-color: #acc1cf;
    -fx-border-radius: 1;
}

.sidebutton:hover{
    -fx-background-color: #acc1cf;
}

.sidebutton:selected{
    -fx-background-color: #acc1cf;
}

.logout{
    -fx-text-fill: white;
    -fx-background-color: #b7c4d0;
}

.logout:hover{
    -fx-background-color: #d5e1ec;
}

.table-row-cell:empty {
    -fx-background-color: white;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.table-row-cell:filled:selected {
  -fx-background: -fx-control-inner-background ;
  -fx-background-color: -fx-table-cell-border-color, -fx-background ;
  -fx-background-insets: 0, 0 0 1 0 ;
  -fx-table-cell-border-color: derive(-fx-color, 5%);
}
.table-row-cell:odd:filled:selected {
  -fx-background: -fx-control-inner-background-alt ;
}